.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
}

.articles-list {
  list-style-type: disc;
  padding-left: 20px;
}

.articles-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* Form */
form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

/* Input testo */
form input[type="text"] {
  width: calc(100% - 120px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
  box-sizing: border-box;
}

/* Bottone submit */
form button {
  width: 100px;
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}