.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.articles-list {
  list-style-type: disc;
  padding-left: 20px;
}

.articles-list li {
  margin-bottom: 10px;
  font-size: 18px;
}
